@charset "UTF-8";

main {
    background-color: #E0F1FF;
}

h1{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#store-name-container{
    min-height: 100%;
    width: 100%;
    padding: 50px 350px 0px 350px ;
    display: flex;
    justify-content: space-between;
}

#store-name a{
    text-decoration: none;   
}

#store-name h1{
    font-size: 35px;
    margin: 0px;
    color: #0089FF;
}

/* 상품 구매 */
.product-name-area .dibs{
    background: url('../../image/bookmarkfishgrey.png') no-repeat;
}

/* 상품 이미지 */
.product-img-container img{
    object-fit: cover;
    width: 550px;
    height: 550px;
    border-radius: 5px;
    margin-right: 140px;

}

.product-information div{
    display: flex;
    margin-bottom: 10px;
}

.product-info{
    width: 100%;
    padding: 50px 350px ;
    display: flex;
}

.product-name-area span{
    margin-right: 20px;
    font-size: 35px;
    font-weight: bold;
}

.product-grade-area div span{
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

.product-price-area{
    font-size: 35px;
    font-weight: bolder;
}

.product-etc span{
    font-size: 20px;
    font-weight: 500;
}

.product-opt-select{
    display: flex;
    flex-direction: column;
}

.selected-options-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.selected-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.option-name {
    flex-grow: 1;
    font-weight: bold;
}

.option-quantity {
    margin-right: 10px;
}

.delete-option {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-option:hover {
    background-color: #ff1a1a;
}

.price-area{
    display: flex;
    justify-content: space-between;
}

.order-price{
    font-size: 35px;
    font-weight: 700;
}

.product-buy-btn-container button{
    width: 220px;
    height: 65px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.product-buy-btn-container .cart-btn{
    background-color: white;
    border-color: #0089FF;
    color: #0089FF;
}

.product-buy-btn-container .buy-btn{
    background-color: #0089FF;
    border-color: white;
    color: white;
}

/* 네비 */

.sticky-container{
    width: 100%;
    z-index: 100;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.navbar-nav li a{
    color: black;
    margin-right: 100px;
    font-weight: bold;
}

.navbar-nav li a:hover{
    color: #0089FF;
    font-weight: bold;
}

#nav-review-count{
    color: #0089FF;
    font-weight: bold;
}

/* 상품 관련 */
.about-product-container{
    padding: 50px 280px 50px 350px;
    display: flex;
}

.about-product{
    width: 60%;
    margin-right: 20px;
}

.go{
    height: 150px;
}

.close{
    height: 50px;
}

/* 상품 설명 */

.product-detail{
    width: 100%;
}

.product-description-area{
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-description-area p img {
    width: 100% !important; 
    object-fit: cover;  
    height: auto;  
}

/* 상품 리뷰 */
.product-review{
    width: 100%;
}

#review-count{
    font-weight: bolder; color: #0089FF;
}

.product-review-area .review-top{
    display: flex;
    justify-content: space-between;
}

.product-inquiry-area .inquiry-top{
    display: flex;
    justify-content: space-between;
}

#review-table{
    width: 1000px;
    margin-bottom: 20px;
}

.buyer-img{
    height: 25px;
    width: 25px;
}

#review-table tr td{
    padding: 12px 15px;
    text-align: left;
}

#review-product-title{
    color: #929191;
}

#review-product-img{
    height: 150px;
    width: 150px;
}

/* 상품 리뷰 모달 */
/* Review Modal CSS */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.modal-header {
    background-color: #f7f7f7;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h4 {
    margin: 0;
}

.modal-header .close {
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

#qna-product-name-header{
    font-size: 1.2rem;
    color: #0089FF;
    margin-bottom: 10px;
    font-weight: bold;
}

#preview-img-container{
    width: 300px;
    height: 300px;
    margin: 20px 0px;
}

#preview-img-container img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

/* 별점 */

.star-rating-title {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.star_rating {
    width: 100%; 
    box-sizing: border-box; 
    display: inline-flex; 
    float: left;
    flex-direction: row; 
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .star_rating .star {
    width: 32px; 
    height: 32px; 
    margin-right: 10px;
    display: inline-block; 
    background: url('../../image/noBlueStar.png') no-repeat; 
    background-size: 100%; 
    box-sizing: border-box; 
  }

  .star_rating .star.on {
    width: 32px; 
    height: 32px;
    margin-right: 10px;
    display: inline-block; 
    background: url('../../image/blueStar.png') no-repeat;
    background-size: 100%; 
    box-sizing: border-box; 
  }

#product-review-container {
    margin-bottom: 20px;
}

#product-review-container div {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#product-review-textarea textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#product-review-enroll-btn-container {
    text-align: right;
}

#product-review-enroll-btn {
    background-color: #0089FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#product-review-enroll-btn:hover {
    background-color: #005bb5;
}


/* 상품 문의 */
.product-inquiry-area .inquiry-top{
    display: flex;
}

.inquiry-table{
    width: 1000px;
    margin-bottom: 20px;
}

.inquiry-table tr td{
    padding: 12px 15px;
    text-align: left;
}

.inquiry-table tr span{
    color: #929191;
    margin-left: 10px;
    
}

/* 상품 문의 모달 */
/* Inquiry Modal CSS */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.modal-header {
    background-color: #f7f7f7;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h4 {
    margin: 0;
}

.modal-header .close {
    font-size: 1.5rem;
    color: #aaa;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

#product-name-container div {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#product-name-container #inquiry-product-name {
    font-size: 1.2rem;
    color: #0089FF;
}

.select-option {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

#select-inquiry-option{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

#product-inquiry-content-container {
    margin-bottom: 20px;
}

#product-inquiry-content-container div {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#product-inquiry-content-container input[type="text"],
#product-inquiry-content-textarea textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
}

#product-inquiry-enroll-btn-container {
    text-align: right;
}

#product-inquiry-enroll-btn {
    background-color: #0089FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

#product-inquiry-enroll-btn:hover {
    background-color: #005bb5;
}


/* 판매자 정보 */

.seller-info div table {
    width: 100%;
    border-collapse: collapse;
}

.seller-info div tr{
    border-top: 1px solid #ccc;
}

.seller-info div th {
    width: 20%;
    background-color: hsl(212, 89%, 93%);
    
    color: #333;
}

.seller-info div th, .seller-info div td {
    padding: 12px 15px;
    text-align: left;
}


/* 페이지네이션 */

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination > li {
    margin-right: 10px;
}

.pagination > li > a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination > li.active > a {
    background-color: #0089FF; /* 활성화된 버튼의 배경색 */
    color: white;             /* 활성화된 버튼의 글자색 */
    border-radius: 5px;       /* 테두리 둥글게 */
}

.pagination > li > a:hover:not(.active) {
    background-color: #005bb5;  /* 활성화되지 않은 버튼에 마우스를 올렸을 때 배경색 */
    border-radius: 5px;      /* 테두리 둥글게 */
}

.bottom-product-buy-area-container{
    width: 30%;
}

.bottom-price-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: none;

}

.bottom-btn-container{
    display: flex;
    justify-content: space-between;
}
.bottom-btn-container button{
    width: 49%;
    height: 65px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.bottom-btn-container .cart-btn{
    background-color: white;
    border-color: #0089FF;
    color: #0089FF;
}

.bottom-btn-container .buy-btn{
    background-color: #0089FF;
    border-color: white;
    color: white;
}
