@charset "UTF-8";

main {
    background: #E0F1FF;
    padding-bottom: 200px;
}

/* 배너 */

.banner-item{
    width: 100%;
    height: 380px;
}

.banner-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* 설명과 문의사항, 빠른 이동 */
#descript-quick {
    display: flex;
    justify-content: space-between;
}

/* 설명 */
#descript-quick #descript {
    padding-top: 80px;
    padding-left: 220px;
    font-weight: bolder;
}

#descript-quick #descript #page-title {
    font-size: 35px;
    padding-bottom: 20px;
}

#descript-quick #descript #page-descript {
    font-size: 30px;
    color: #0089FF;
}

/* 문의사항, 빠른 이동 */
#descript-quick #askn-quick-move {
    padding-top: 100px;
    padding-right: 50px;
    display: flex;
    line-height: 35px;
    height: 300px;
}

/* 문의 사항 */
#descript-quick #askn-quick-move #ask img {
    object-fit: cover;
    margin-top: 20px;
    height: 60px;
    width: 60px;
}

#descript-quick #askn-quick-move #ask {
    display: flex;
    padding-top: 10px;
    padding-right: 30px;
}

#descript-quick #askn-quick-move #ask #ask-descript {
    padding-top: 20px;
}

#descript-quick #askn-quick-move #ask #ask-descript #ad-span1 {
    font-weight: 700;
}

#descript-quick #askn-quick-move #ask #ask-descript #ad-span2 a {
    font-weight: 700;
    color: #0089FF;
}

/* 빠른 이동 */
#descript-quick #askn-quick-move #quick-move .quick-move-li-title {
    font-weight: 700;
    text-align: center;
}

#descript-quick #askn-quick-move #quick-move .quick-move-li {
    background-color: white;
    margin-bottom: 10px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 약간의 그림자 효과 */
    opacity: 90%;
}

#descript-quick #askn-quick-move #quick-move .quick-move-li a {
    font-size: 15px;
    color: black;
}

#descript-quick #askn-quick-move #quick-move .quick-move-li a:hover {
    color: #0089FF;
}

.sm-procuct-section {
    padding: 100px 200px 0px 200px;
}

.sm-procuct-section-title {
    font-weight: 900;
    font-size: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* Carousel Styles */

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    width: 336px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 약간의 그림자 효과 */
    background-color: white;
    margin: 0 20px 0 20px;
    position: relative;
}

.carousel-item .product-descript{
    padding-top: 20px;
    padding-left: 10px;
}

.carousel-item .product-descript p{
    font-weight: 700;
    color: black;
    margin-bottom: 4px;
}

.carousel-item .product-descript .product-descript-store-name{
    font-size: 15px;
    color: #0089FF;
}

.carousel-item .product-descript .product-descript-rating-review{
    font-size: 13px;
    display: flex;
    text-align: center;
}

.carousel-item .product-descript .product-descript-rating-review img{
    object-fit: cover;
    height: 12px;
}

.carousel-item .product-descript .product-descript-rating-review span{
    padding-left: 2px;
}

.carousel-item .carousel-dimg{
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
}


.carousel-item .carousel-dimg img{
    object-fit: cover;
    width: 100%; 
    height: 300px;
    border-radius: 15px;
}

/* 인기 제품 */
#popular-product .sm-procuct-section-title{
    color: #0089FF;
}

/* 최신 제품 */
#brand-new-product .sm-procuct-section-title{
    color: #0089FF;
}

/* 전체 제품 */
#all-product .carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}


#all-product .carousel .carousel-item{
    margin-bottom: 50px;
}

/* slick css */
.slick-prev, .slick-next {
z-index: 25; /* 버튼이 다른 요소 위에 표시되도록 설정 */
width: auto; /* 버튼의 기본 너비 설정 */
height: auto; /* 버튼의 기본 높이 설정 */
}

.slick-prev:before, .slick-next:before {
    font-size: 40px; /* 화살표 아이콘의 크기 조정 */
}

.slick-prev {
    left: 3px; /* 이전 버튼의 위치 설정 */
}

.slick-next {
    right: 3px; /* 다음 버튼의 위치 설정 */
}

/* 더보기 버튼 */

.button-container {
    text-align: center;
    padding: 20px 0; 
}

#load-more {
    background-color: white;
    color: #333;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    cursor: pointer; 
    transition: all 0.3s ease; 

}

#load-more:hover {
    background-color: #f8f8f8; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}

