body{
    background-color: #E0F1FF;
    position: relative;
    }
    #wrap{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #signup-logo{
        width: 400px;
        height: 50px;
        font-size: 40px;
        font-weight: bold;
        color: #0089FF;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    
    #signup-input{
        width: 400px;
        height: 650px;
        font-size: 10px;
    }
    .signup-essential{
        width: 400px;
        height: 500px;
        margin-bottom: 25px;
    }
    .signup-additional{
        width: 400px;
        height: 125px;
        margin-bottom: 25px;
    }

    #signup-input p{
        width: 400px;
        height: 20px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .signup-essential input, .signup-essential select{
        width: 400px;
        height: 50px;
        border: 2px solid #0089FF;
        border-top: none;
        font-size: 15px;
        padding-left: 10px;
        outline: 0;
        background-color: white;
    }
    #signup-name, #signup-birthday{
        width: 200px;
        border-right: 1px solid #0089FF;
    }
    #signup-nickname, #signup-gender{
        width: 200px;
        border-left: 1px solid #0089FF;
    }

    #callDaumService{
        width: 400px;
        height: 50px;
        border-top: none;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    #callDaumService input{
        flex-shrink: 0;
        height: 50px;
        padding: 0;
        padding-left: 10px;
        line-height: 50px;
        outline: 0;
        border: 2px solid #0089FF;
        border-top: none;
    }

    #signup-id{
        width: 400px;
        height: 50px;
        font-size: 15px;
        padding-left: 10px;
        border-radius: 15px 15px 0 0;
        outline: 0;
    }
    #checkResult{
        border: 2px solid #0089FF;
        border-top: 0;
        background-color: white;
        padding-left: 10px;
        font-size: 15px; 
        font-weight: bold;        
    }
    .signup-additional input{
        width: 400px;
        height: 50px;
        border: 2px solid #AFA8A8;
        font-size: 15px;
        padding-left: 10px;
        outline: 0;
    }

    #signup-likeFish{
        border-radius: 15px 15px 0 0;
        border-bottom: 0px;
    }
    #signup-phone, #signup-tailFish{
        border-radius: 0 0 15px 15px;
    }
    #signup-input button{
        width: 400px;
        height: 50px;
        border: none;
        background-color: #0089FF;
        color: white;
        font-size: 20px;
        font-weight: bold;
        border-radius: 15px;
    }
    