@charset "UTF-8";

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 40px 200px;
        height: calc(100vh - 40px);
        overflow-y: scroll;
    }

    /* 스크롤바 없애기 */
    body {
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /* 스크롤바 없애기 */

    section h1 {
        margin-bottom: 20px;
    }

    section form div{
        margin-bottom: 20px;
    }
    section .form-group {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    section .form-group label {
        width: 150px;
        font-weight: bold;
    }

    section .form-group input, 
    section .form-group select {
        flex: 1;
        padding: 5px;
        font-size: 14px;
    }

    section .form-control{
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #product-management{
        display: flex;
    }

    #product-management div{
        margin-right: 30px;
    }

    /* 옵션 등록 */
    #div-enroll-option {
        display: block;
    }

    #div-enroll-option  div{
        display: flex;
    }

    #div-enroll-option  div h4{
        text-align: center;
        line-height: 26px;
    }

    #div-enroll-option table input{
        width: 150px; 
        height: 40px;
        padding-left: 10px;
        border: 1px solid #ccc;
    }

    .remove-btn {
        padding: 11px 10px;
        background-color: #0089FF;
        color: white;
        cursor: pointer;
    }
    

    #add-optionBtn {
        padding: 4px;
        background-color: #0089FF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 5px;
    }

    #add-optionBtn:hover {
        background-color: #005bb5;
    }

    #optionList div {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 150px;
        height: 25px;
        padding: 0 5px;
        justify-content: space-between;
    }

    .removeBtn {
        background-color: transparent;
        cursor: pointer;
        font-weight: bold;
        margin-left: 10px;
    }

    .image-container {
        width: 900px;
        height: 500px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    }
    
    .image-container img {
        width: 100%;
        height: 100%;
    }

    .form-actions button {
        padding: 10px;
        background-color: #0089FF;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .form-actions button:hover {
        background-color: #005bb5;
    }

    #summernote {
        height: 300px;
    }