    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 40px 200px;
        height: calc(100vh - 40px);
        overflow-y: scroll;
    }

    /* 스크롤바 없애기 */
    body {
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /* 스크롤바 없애기 */

    #search-area {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        padding: 10px;
    }

    #search-area select, #search-area input[type="text"], #search-area button {
        margin: 0 10px;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
    }

    #search-area button {
        background-color: #0089FF; /* 파란색 배경 */
        color: white; /* 흰색 글자 */
        border: none;
        cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 손가락 모양으로 변경 */
    }

    #search-area button:hover {
        background-color: #005bb5; /* 호버 시 좀 더 어두운 파란색 */
    }

    #search-area input[type="text"] {
        width: 200px; /* 입력 필드 너비 */
    }

    section h1 {
        margin-bottom: 20px;
    }

    table {
        margin: 50px 0;
        width: 100%;
    }
   
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #0089FF;
        color: white;
    }
    
    table tbody #pdList {
        cursor: pointer;
    }
    
    table tbody #pdList:hover {
        background-color: #AFA8A8;
        color: white;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;
    }
    
    .pagination > li {
        margin-right: 10px;
    }
    
    .pagination > li > a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    .pagination > li.active > a {
        background-color: #0089FF; /* 활성화된 버튼의 배경색 */
        color: white;             /* 활성화된 버튼의 글자색 */
        border-radius: 5px;       /* 테두리 둥글게 */
    }
    
    .pagination > li > a:hover:not(.active) {
        background-color: #005bb5;  /* 활성화되지 않은 버튼에 마우스를 올렸을 때 배경색 */
        border-radius: 5px;      /* 테두리 둥글게 */
    }