@charset "UTF-8";

    
    section {
        display: block;
        padding: 40px 200px;
        height: calc(100vh - 40px);
        overflow-y: scroll;
    }
  
    #product-detail{
        display: block;
    }

    #product-detail div h4{
        margin-right: 10px;
    }
    /* 스크롤바 없애기 */
    body {
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    /* 스크롤바 없애기 */

    section h1 {
        margin-bottom: 20px;
    }
   
    section .form-group {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    section .form-group select{
        padding: 3px 10px; 
        font-size: 15px;
        font-family: inherit; 
        border: 1px solid #ccc;
        margin-left: 20px;
    }

    section .form-g {
        margin-top: 30px;
        align-items: center;
    }
    section .form-g h4{
        margin-bottom: 10px;
    }

    section .form-group div{
        flex: 1;
        padding: 5px;
        font-size: 16px;
    }
    
    .image-container {
        width: 900px;
        height: 500px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    .image-container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .form-actions{
        margin-top: 20px;
    }

    .form-actions a {
        padding: 10px;
        background-color: #0089FF;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 10px;
    }

    .form-actions a:hover {
        background-color: #005bb5;
    }

    #summernote{
        padding: 30px 30px 30px 30px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }





  
  