@charset "UTF-8";

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 40px 200px 40px;
        height: calc(100vh - 40px);
        overflow-y: scroll;

    }

    section h1 {
        margin-bottom: 20px;
    }

    section div {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    section div h4 {
        font-weight: bold;
    }

    section div span{
        margin-left: 10px;
    }

    section div #select-category{

        padding: 3px 10px; 
        font-size: 15px;
        font-family: inherit; 
        border: 1px solid #ccc;
        margin-left: 20px;
    }
    
    section .form-actions a {
        padding: 10px;
        background-color: #0089FF;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .form-actions a:hover {
        background-color: #005bb5;
    }

    .image-container {
        width: 900px;
        min-height: 500px;
        margin-top: 30px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .image-container img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #enroll-please{
        color: #0089FF;
        margin-top: 260px;
        font-size: 80px;
    }
