@charset "UTF-8";

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 40px 200px;
        height: calc(100vh - 40px);
    }

    section h1 {
        margin-bottom: 20px;
    }

    section div {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
    }

    section div h4 {
        font-weight: bold;
    }

    section div span {
        margin-left: 20px;
    }

    section a {
        padding: 10px;
        width: 100px;
        margin: auto;
        background-color: #0089FF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }

    section a:hover {
        background-color: #005bb5;
    }
