@charset "UTF-8";

main{
    background-color: #e0f1ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#myPageInfo-wrapper{
    width: 1342px;
    display: flex; 
    padding: 30px 0;
}

#myPage-sidebar{
    width: 15%;
    height: 800px;
    background-color: white;
    border-radius: 16px;
    margin-right: 20px;
}

#myPage-sidebar-profile-area{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #afa8a8;
}

#myPage-sidebar-profile-img{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

#myPage-sidebar-profile-img img{
    width: 140px;
    border-radius: 150px;
    padding: 20px;
}

#myPage-sidebar-profile-nickName{
    height: 20%;
    text-align: center;
}

#myPage-sidebar-profile-nickName b{
    font-weight: 600;
}

#myPage-category-area{
    height: 70%;
    padding-top: 38px;
}

.myPage-category{
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.myPage-category a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#myPageInfo-info-area{
    width: 85%;
    height: auto;
    background-color: white;
    border-radius: 16px;

}

#myPage-category-select-title{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

#myPageInfo-profile-area{
    border-bottom: 1px solid #afa8a8;
    width: 100%;
    height: auto;
}

#myPageInfo-profile-img{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#myPageInfo-profile-img img{
    height: 120px;
    border: 1px solid black;

    width: 120px;
    border-radius: 150px;
}

#myPageInfo-profile-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
}

#myPageInfo-profile-edit label{
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50px;
}

#myPageInfo-profile-edit input{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#myPageInfo-profile-edit button{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

#myPageInfo-no-changeInfo-area{
    display: flex;
    justify-content: center;
}

#myPageInfo-no-changeInfo-area table{
    width: 60%;
}

#myPageInfo-no-changeInfo-area tr{
    height: 80px;
    text-align: left;
}

#myPageInfo-no-changeInfo-area th{
    width: 100px;
    /* padding: 10px 0px 10px 20px; */
    font-weight: 600;
}

#myPageInfo-changeInfo-area{
    /* background-color: white; */
    /* border-radius: 16px; */
    /* margin-top: 25px; */
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

#myPageInfo-changeInfo-area table{
    width: 60%;
}

#myPageInfo-changeInfo-area tr{
    width: 100%;
    height: 80px;
    text-align: left;
}

#myPageInfo-changeInfo-area td{
    height: 80px;
    display: flex;
    align-items: center;
}

#myPageInfo-changeInfo-area th{
    width: 100px;
    /* padding: 10px 60px 10px 20px; */
    font-weight: 600; 
}

#myPageInfo-modify-delete-button-area{
    height: 60px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#myPageInfo-modify-delete-button-area button{
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: black;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.change-btn{
    width: 55px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

#gender1, #gender2{
    width: 20px;
    height: 20px;
    font-size: 15px;
    background-color: #eeeeee;
    margin-left: 5px;
}

input{
    width: 80%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eeeeee;
}

#delete-member-modal{
    padding-top: 300px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#delete-member-modal-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30%;
    background-color: white;
    margin-left: 680px;
    padding: 10px 0 0 20px;
}

#delete-member-modal-content h3{
    margin-bottom: 15px;
}

#delete-member-modal-content button{
    width: 60px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    margin-left: 5px;
    cursor: pointer;
}

#warning-text{
    margin-left: 10px;
}

#warning-text{
    color: red;
}

#modal-btn-area{
    display: flex;
    justify-content: flex-end;
    padding: 5px 5px 5px 0;
}
