@charset "UTF-8";

main{
    background-color: #e0f1ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#myPageWritePost-wrapper{
    width: 1342px;
    display: flex; 
    padding: 30px 0;
}

#myPage-sidebar{
    width: 15%;
    height: 800px;
    background-color: white;
    border-radius: 16px;
    margin-right: 20px;
}

#myPage-sidebar-profile-area{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #afa8a8;
}

#myPage-sidebar-profile-img{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

#myPage-sidebar-profile-img img{
    width: 140px;
    border-radius: 150px;
    padding: 20px;
}

#myPage-sidebar-profile-nickName{
    height: 20%;
    text-align: center;
}

#myPage-sidebar-profile-nickName b{
    font-weight: 600;
}

#myPage-category-area{
    height: 70%;
    padding-top: 38px;
}

.myPage-category{
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.myPage-category a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#myPageWritePost-info-area{
    width: 85%;
    /* background-color: white; */
}

#myPageWritePost-status-area{
    width: 100%;
    border-radius: 16px;
    background-color: white;
    display: flex;
}

.myPageWritePost-status{
    /* width: 280.75px; */
    width: 25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#ps1, #ps2, #ps3{
    border-right: 1px solid #afa8a8;
}

#myPageWritePost-list-area{
    width: 100%;
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
}

#myPageWritePost-list-area table{
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    border-collapse: collapse;
}

#myPageWritePost-list-area tbody tr{
    width: 100%;
    padding: 16px;
    cursor: pointer;
}

#myPageWritePost-list-area th{
    border-bottom: 1px solid #afa8a8;
    padding-top: 20px;
    padding-bottom: 20px;
}

#myPageWritePost-list-area td{
    border-bottom: 1px solid #afa8a8;
    padding-top: 20px;
    padding-bottom: 20px;
}

#pagination-div{
    padding-top: 15px;
    padding-bottom: 15px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination > li {
    margin-right: 10px;
}

.pagination > li > a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination > li.active > a {
    background-color: #42A2F4; /* 활성화된 버튼의 배경색 */
    color: white;             /* 활성화된 버튼의 글자색 */
    border-radius: 5px;       /* 테두리 둥글게 */
}

.pagination > li > a:hover:not(.active) {
    background-color: #ddd;  /* 활성화되지 않은 버튼에 마우스를 올렸을 때 배경색 */
    border-radius: 5px;      /* 테두리 둥글게 */
}