@charset "UTF-8";

main{
    background-color: #e0f1ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}

#myPageCart-wrapper{
    width: 1342px;
    display: flex; 
    padding: 30px 0;
}

#myPage-sidebar{
    width: 15%;
    height: 800px;
    background-color: white;
    border-radius: 16px;
    margin-right: 20px;
}

#myPage-sidebar-profile-area{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #afa8a8;
}

#myPage-sidebar-profile-img{
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

#myPage-sidebar-profile-img img{
    width: 140px;
    border-radius: 150px;
    padding: 20px;
}

#myPage-sidebar-profile-nickName{
    height: 20%;
    text-align: center;
}

#myPage-sidebar-profile-nickName b{
    font-weight: 600;
}

#myPage-category-area{
    height: 70%;
    padding-top: 38px;
}

.myPage-category{
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.myPage-category a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#myPageCart-info-area{
  width: 85%;  
  background-color: white;
  border-radius: 16px;
}

#myPage-category-select-title{
    width: 100%;
    /* height: 10%; */
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #afa8a8;
}


#myPageCart-info-area table{
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    border-collapse: collapse;
}

#myPageCart-info-area thead{
    border-bottom: 1px solid #afa8a8;
    height: 50px;
}

#myPageCart-info-area tbody tr{
    border-bottom: 1px solid #afa8a8;
    height: 100px;
}

.product-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 10px;

}

.product-info-img{
    margin-right: 10px;
}

.product-info-img img{
    width: 120px;
    height: 120px;
}

.product-info-name{
    display: flex;
    flex-direction: column;
}

.product-option{
    margin-top: 5px;
    background-color: #eee;
    text-align: left;
}

.product-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.product-btn button{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;

}

#myPageCart-product-list-price-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#myPageCart-product-list-price{
    width: 95%;
    display: flex;
    border: 1px solid #afa8a8;
    margin: 15px 0; 
}

.product-list-price{
    width: 17%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
}

.operator{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#select-btn-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#select-btn{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#select-btn button{
    width: 120px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;      
}