@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0F1FF;
}

#main-div {
    width: 1242px;
    height: 1618px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-explain {
    display: flex;
    width: 100%;
    height: 115px;
    margin-top: 30px;
    align-items: end;
}

#info-explain p {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: 0;
}

#fish-search {
    width: 1242px;
    height: 72px;
}

#fish-search form {
    width: 100%;
    height: 100%;
    position: relative;
}

#searchArea {
    width: 90%;
    height: inherit;
    margin-left: 30px;
}

.fish-atag {
    width: 100%;
    height: 101px;
}

.menu {
    display: flex;
    height: inherit;
    justify-content: left;
    align-items: center;
}

*, *:after, *:before {
    box-sizing: border-box;
}

a:hover, a:focus {
    outline: none;
}

.menu a {
    color: rgba(0, 0, 0, 0.8);
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.SMN_effect-45 a {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(85, 70, 70, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.1s;
}

.SMN_effect-45 a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: #42A2F4;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    transition: width 0.1s ease-out, height 0.1s ease-out;
    box-shadow: 0px 8px 6px -6px #666;
}

.SMN_effect-45 a:hover{
    color: white;
}

.SMN_effect-45 a:hover:before{
    width: 150px;
    height: 50px;
}

#fish-sub-explain {
    width: 100%;
    height: 21px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
}

#fish-sub-explain a {
    text-decoration: none;
    color: black;
}

#main-container {
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 20px 60px;
}

#main-info-a {
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #42A2F4;
    border-radius: 15px;
    margin-top: 45px;
}

#main-info-img img {
    width: 130px;
    height: 85px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 40px;
    border: solid 5px #98cde8;
}

#main-info-p {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

#main-info {
    color: white;
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
}

#main-info p {
    margin: 0;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    
}

.pagination > li {
    margin-right: 10px;
}

.pagination > li > a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination > li.active > a {
    background-color: #42A2F4; /* 활성화된 버튼의 배경색 */
    color: white;             /* 활성화된 버튼의 글자색 */
    border-radius: 5px;       /* 테두리 둥글게 */
}

.pagination > li > a:hover:not(.active) {
    background-color: #ddd;  /* 활성화되지 않은 버튼에 마우스를 올렸을 때 배경색 */
    border-radius: 5px;      /* 테두리 둥글게 */
}

#show-fish-category{
    font-size: 13px;
    height: 21px;
    margin-left: 20px;
    
}

#show-fish-category p{
    text-align: center;
    height: 21px;
    margin-top: 3px;
    
}