<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="communityMapper">
	<resultMap type="Community" id="communityResult">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="FILE_NO" property="fileNo"/>
		<result column="BOARD_LEVEL" property="boardLevel"/>
		<result column="WRITE_DATE" property="writeDate"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENTS" property="boardContents"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="BOARD_DIBS" property="boardDibs"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<resultMap type="CommunityAttachment" id="CommunityAttachmentResult">
		<result column="FILE_NO" property="fileNo"/>
		<result column="REF_NO" property="refNo"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT	COUNT(*)
		FROM	BOARD
		WHERE	BOARD_LEVEL = #{boardLevel}
		AND		STATUS = 'Y'
	</select>
	<select id="selectList" resultMap="communityResult">
		SELECT BOARD_NO,
			   BOARD_TITLE,
			   USER_NO,
			   WRITE_DATE,
			   BOARD_COUNT
		  FROM BOARD
		 WHERE STATUS = 'Y'
		 ORDER BY BOARD_NO DESC  
	</select>
</mapper>