<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResult">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="EMAIL" property="email"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="GENDER" property="gender"/>
		<result column="ADDRESS" property="address"/>
		<result column="PHONE" property="phone"/>
		<result column="LIKE_FISH" property="likeFish"/>
		<result column="TAIL_FISH" property="tailFish"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="ACTIVATED" property="activated"/>
		<result column="USER_LV" property="userLv"/>
		<result column="JOIN_DATE" property="joinDate"/>
		<result column="MEMBER_FILE_NO" property="memberFileNo"/>
		<result column="USER_INTRO" property="userIntro"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
	<select id="loginMember" resultMap="memberResult">
		SELECT 	USER_NO,
				USER_ID,
				USER_PWD,
				EMAIL,
				USER_NAME,
				NICKNAME,
				BIRTHDAY,
				GENDER,
				ADDRESS,
				PHONE,
				LIKE_FISH,
				TAIL_FISH,
				AUTHORITY,
				ACTIVATED,
				USER_LV,
				JOIN_DATE,
				MEMBER_FILE_NO,
				USER_INTRO,
				CHANGE_NAME
		FROM	MEMBER
		JOIN	MEMBER_ATTACHMENT USING(MEMBER_FILE_NO)
		WHERE	USER_ID = #{userId}
		AND		ACTIVATED = 'Y'
	</select>
	<select id="idCheck" resultType="_int">
		SELECT	COUNT(*)
		FROM	MEMBER
		WHERE	USER_ID = #{checkId}
	</select>
	<insert id="signupMember">
		INSERT INTO MEMBER(
				USER_NO,
				USER_ID,
				USER_PWD,
				EMAIL,
				USER_NAME,
				NICKNAME,
				BIRTHDAY,
				GENDER,
				ADDRESS,
				PHONE,
				LIKE_FISH,
				TAIL_FISH,
				AUTHORITY,
				ACTIVATED,
				USER_LV,
				JOIN_DATE,
				MEMBER_FILE_NO
				)
		VALUES(
				default,
				#{userId},
				#{userPwd},
				#{email},
				#{userName},
				#{nickname},
				#{birthday},
				#{gender},
				#{address},
				#{phone},
				#{likeFish},
				#{tailFish},
				default,
				default,
				default,
				default,
				default
				)
	</insert>
	<select id="kakaoLogin" resultMap="memberResult">
		SELECT 	USER_NO,
				USER_ID,
				USER_PWD,
				EMAIL,
				USER_NAME,
				NICKNAME,
				BIRTHDAY,
				GENDER,
				ADDRESS,
				PHONE,
				LIKE_FISH,
				TAIL_FISH,
				AUTHORITY,
				ACTIVATED,
				USER_LV,
				JOIN_DATE,
				MEMBER_FILE_NO
		FROM	MEMBER
		WHERE	EMAIL = #{email}
		AND		ACTIVATED = 'Y'
	</select>
</mapper>