<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="myPageMapper">
	<!-- 내 정보로 이동할 때 이미지 파일 가지고있는지 확인하기 위한 resultMapper -->
	<resultMap type="MemberAttachment" id="selectMemberAttachmentResult">
		<result column="member_file_no" property="memberFileNo"/>
		<result column="ref_mno" property="refMno"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="file_level" property="fileLevel"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<!-- 회원 정보 수정 후 세션에 변경된 값 반환하기 위한 resultMapper -->
	<resultMap type="Member" id="loginUserResult">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="EMAIL" property="email"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="GENDER" property="gender"/>
		<result column="ADDRESS" property="address"/>
		<result column="PHONE" property="phone"/>
		<result column="LIKE_FISH" property="likeFish"/>
		<result column="TAIL_FISH" property="tailFish"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="ACTIVATED" property="activated"/>
		<result column="USER_LV" property="userLv"/>
		<result column="JOIN_DATE" property="joinDate"/>
		<result column="MEMBER_FILE_NO" property="memberFileNo"/>
		<result column="USER_INTRO" property="userIntro"/>
		<result column="DROP_DATE" property="dropDate"/>
	</resultMap>
	
	<!-- 작성한 게시글 resultMapper -->
	<resultMap type="Community" id="writePostResult">
		<result column="board_no" property="boardNo"/>
		<result column="board_level" property="boardLevel"/>
		<result column="board_title" property="boardTitle"/>
		<result column="write_date" property="writeDate"/>
		<result column="board_count" property="boardCount"/>
	</resultMap>
	
	<!-- 작성한 문의글 resultMapper -->
	<resultMap type="Inquiry" id="inquiryResult">
		<result column="inquiry_no" property="inquiryNo"/>
		<result column="inquiry_title" property="inquiryTitle"/>
		<result column="inquiry_date" property="inquiryDate"/>
	</resultMap>
	
	<!-- 찜한 상품 resultMapper -->
	<resultMap type="StoreInfo" id="StoreInfoResult">
		<result column="SELLER_PAGE_NO" property="sellerPageNo"/>
		<result column="BUSINESS_NO" property="businessNo"/>
		<result column="SELLER_EXPLAIN" property="sellerExplain"/>
		<result column="SP_CHANGE_NAME" property="spChangeName"/>
		<result column="P_CATEGORY" property="prCategory"/>
		<result column="STORE_NAME" property="storeName"/>
		<result column="P_NO" property="prNo"/>
		<result column="P_TITLE" property="prTitle"/>
		<result column="P_PRICE" property="prPrice"/>
		<result column="P_ENROLLDATE" property="prEnrollDate"/>
		<result column="P_STAR" property="prStar"/>
		<result column="P_CHANGE_NAME" property="prChangeName"/>
		<result column="P_STATUS" property="prStatus"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
		<result column="LOVE_DATE" property="loveDate"/>
	</resultMap>
	
	<!-- 장바구니 resultMapper -->
	<resultMap type="Cart" id="CartResult">
		<result column="P_NO" property="pdNo"/>
		<result column="P_OPTION_NO" property="poNo"/>
		<result column="P_CHANGE_NAME" property="pdChangeName"/>
		<result column="P_TITLE" property="pdTitle"/>
		<result column="P_OPTION_NAME" property="pdOptionName"/>
		<result column="BUY_COUNT" property="buyCount"/>
		<result column="P_PRICE" property="pdPrice"/>
	</resultMap>
	
	<!-- 주문내역 resultMapper -->
	<resultMap type="OrderHistory" id="OrderHistoryResult">
		<result column="P_NO" property="pdNo"/>
		<result column="P_OPTION_NO" property="poNo"/>
		<result column="BUY_DATE" property="buyDate"/>
		<result column="P_CHANGE_NAME" property="pdChangeName"/>
		<result column="P_TITLE" property="pdTitle"/>
		<result column="P_OPTION_NAME" property="pdOptionName"/>
		<result column="BUY_COUNT" property="buyCount"/>
		<result column="P_PRICE" property="pdPrice"/>
		<result column="STORE_NAME" property="storeName"/>
	</resultMap>
	
	
	
	<!-- 내 정보로 이동할 때 이미지 파일 가지고있는지 확인하기 위한 select -->
	<select id="selectMemberAttachment" resultMap="selectMemberAttachmentResult">
		SELECT member_file_no,
			   ref_mno,
			   upload_date,
			   file_level,
			   origin_name,
			   change_name
		FROM member_attachment
		WHERE ref_mno = #{userNo}
	</select>
	
	<!-- 이미지 파일 제외한 회원정보 수정 -->
	<update id="modifyInfo">
		UPDATE member
		SET nickname = #{nickname},
			user_intro = #{userIntro},
			gender = #{gender},
			phone = #{phone},
			email = #{email},
			address = #{address}
		WHERE user_no = #{userNo}
	</update>
	
	<!-- 이미지 파일 없을 때 이미지 파일 넣기 -->
	<insert id="insertImageModifyInfo">
		INSERT INTO member_attachment
		(
			member_file_no,
			ref_mno,
			upload_date,
			file_level,
			origin_name,
			change_name
		) 
		VALUES
		(
			default,
			#{refMno},
			now(),
			#{fileLevel},
			#{originName},
			#{changeName}
		)
	</insert>
	
	<!-- 이미지파일 있을 때 이미지파일 수정 -->
	<update id="updateImageModifyInfo">
		UPDATE member_attachment 
		SET ref_mno = #{refMno},
			upload_date = now(),
			file_level = #{fileLevel},
			origin_name = #{originName},
			change_name = #{changeName}
		WHERE ref_mno = #{refMno}
	</update>
	
	<!-- 회원 정보 수정 후 세션에 변경된 값 넣기 -->
	<select id="loginUser" resultMap="loginUserResult">
		SELECT 	USER_NO,
				USER_ID,
				USER_PWD,
				EMAIL,
				USER_NAME,
				NICKNAME,
				BIRTHDAY,
				GENDER,
				ADDRESS,
				PHONE,
				LIKE_FISH,
				TAIL_FISH,
				AUTHORITY,
				ACTIVATED,
				USER_LV,
				JOIN_DATE,
				MEMBER_FILE_NO,
				USER_INTRO
		FROM	MEMBER
		WHERE	USER_NO = #{userNo}
		AND		ACTIVATED = 'Y'
	</select>

	<!-- 회원 탈퇴  -->
	<update id="deleteMember">
	UPDATE member
	SET activated = 'N',
		drop_date = now()
	WHERE user_no = #{userNo}
	</update>

	<!-- 비밀번호 변경  -->
	<update id="changePwd">
	UPDATE member
	SET USER_PWD = #{userPwd}
	WHERE user_no = #{userNo}
	</update>
	
	<!-- 장바구니에 담긴 상품 수 조회 -->
	<select id="cartProductListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BUY b
		JOIN PRODUCT_OPTION po USING (P_OPTION_NO)
		JOIN PRODUCT p USING (P_NO)
		WHERE po.PO_STATUS = 'Y'
		AND p.P_STATUS = 'Y'
		AND b.USER_NO = #{userNo}
		AND b.BUY_STATUS = false
	</select>
	
	<!-- 장바구니에 담긴 상품 조회 -->
	<select id="cartProductList" resultMap="CartResult">
		SELECT P_NO,
			   P_OPTION_NO,
			   P_CHANGE_NAME,
			   P_TITLE,
			   P_OPTION_NAME,
			   BUY_COUNT,
			   P_PRICE
		FROM BUY b
		JOIN PRODUCT_OPTION po USING (P_OPTION_NO)
		JOIN PRODUCT p USING (P_NO)
		WHERE po.PO_STATUS = 'Y'
		AND p.P_STATUS = 'Y'
		AND b.USER_NO = #{userNo}
		AND b.BUY_STATUS = false
	</select>
	
	<!-- 장바구니에 담은 상품 삭제 -->
	<select id="deleteCartProduct">
		DELETE FROM BUY
		WHERE	USER_NO = #{userNo}
		AND		P_OPTiON_NO = #{poNo}
	</select>
	
	<!-- 주문내역 수 조회 -->
	<select id="orderHistoryListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BUY b
		WHERE b.user_no = #{userNo}
		AND b.buy_status = true
	</select>
	
	<!-- 주문내역 조회 -->
	<select id="orderHistoryList" resultMap="OrderHistoryResult">
		SELECT p_no,
			   p_option_no,
			   buy_date,
			   p_change_name,
			   p_title,
			   p_option_name,
			   buy_count,
			   p_price,
			   store_name
		FROM buy b
		JOIN product_option po USING (p_option_no)
		JOIN product p USING (p_no)
		JOIN product_category pc ON (pc.c_no = p.c_no)
		JOIN seller_page USING (seller_page_no)
		JOIN seller_info USING (business_no)
		WHERE b.user_no = #{userNo}
		AND b.buy_status = true
	</select>
		
	<!-- 회원이 작성한 게시글 수 조회 -->
	<select id="writePostListCount" resultType="_int">
		SELECT COUNT(*)
		FROM board
		WHERE status = 'Y'
		AND user_no = #{userNo}
	</select>

	<!-- 회원이 작성한 게시글 조회 -->
	<select id="writePostList" resultMap="writePostResult">
		SELECT board_no,
			   board_level,
			   board_title,
			   write_date,
			   board_count
		FROM board
		WHERE status = 'Y'
		AND user_no = #{userNo}
		ORDER BY write_date DESC
	</select>
	
	<!-- 회원이 작성한 게시글 종류별 갯수 조회 -->
	<select id="wirtePostTypeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM board
		WHERE status = 'Y'
		AND user_no = #{userNo}
		AND board_level IN (0, 1, 2, 3)
		GROUP BY board_level	<!-- board_level을 그룹화해서 board_level이 0, 1, 2, 3인 게시글들을 종류별로 카운트 -->
	</select>
	
	<!-- 회원이 작성한 문의글 수 조회 -->
	<select id="inquiryListCount" resultType="_int">
		SELECT COUNT(*)
		FROM inquiry
		WHERE status = 'Y'
		AND user_no = #{userNo}
	</select>
	
	<!-- 회원이 작성한 문의글 리스트 조회 -->
	<select id="inquiryList" resultMap="inquiryResult">
		SELECT inquiry_no,
			   inquiry_title,
			   inquiry_date,
			   status
		FROM inquiry
		WHERE status = 'Y'
		AND user_no = #{userNo}
		ORDER BY inquiry_date DESC
	</select>
	
	<!-- 판매자 신청할 때 회원등급이 일반회원인지 확인하기 위한 조회 -->
	<select id="selectSellerConversionAuthority" resultType="_int">
		SELECT authority
		FROM member
		WHERE user_no = #{userNo}
	</select>
	
	<!-- 판매자 신청할 때 이미 신청한 회원인지 확인하기 위한 조회 -->
	<select id="selectSellerConversionStatus" resultType="string">
		SELECT status
		FROM seller_info
		WHERE user_no = #{userNo}
	</select>
	
	<!-- 판매자 정보 등록 -->
	<insert id="sellerInfoInsert">
		INSERT INTO seller_info(
			business_no,
			user_no,
			business_name,
			sub_business_name,
			open_business_date,
			store_name,
			crn,
			main_business_name,
			main_item_name,
			business_address,
			business_account
		)
		VALUES(
			#{businessNo},
			#{userNo},
			#{businessName},
			#{subBusinessName},
			#{openBusinessDate},
			#{storeName},
			#{crn},
			#{mainBusinessName},
			#{mainItemName},
			#{businessAddress},
			#{businessAccount}
		)
	</insert>
	
	<select id="selectInterestCount" resultType="_int">
		SELECT	COUNT(*)
		FROM	LOVE_IT
		WHERE	USER_NO = #{userNo}
	</select>
	<select id="selectInterest" resultMap="StoreInfoResult">
		SELECT	P_NO,
				P_TITLE,
				P_PRICE,
				P_CHANGE_NAME,
				LOVE_DATE,
				SELLER_PAGE_NO,
				STORE_NAME
		FROM	PRODUCT
		JOIN	PRODUCT_CATEGORY USING(C_NO)
		LEFT JOIN (SELECT	SELLER_PAGE_NO,
				BUSINESS_NO,
				STORE_NAME
		FROM	SELLER_PAGE
		JOIN	SELLER_INFO USING(BUSINESS_NO)) PRODUCT_INFO USING (SELLER_PAGE_NO)
		JOIN	LOVE_IT USING(P_NO)
		WHERE	USER_NO = #{userNo}
		ORDER BY LOVE_DATE DESC
	</select>
	<delete id="interestCancle">
		DELETE FROM LOVE_IT
		WHERE	USER_NO = #{userNo}
		AND		P_NO = #{prNo}
	</delete>

</mapper>