<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
 <mapper namespace="sellerMapper">
 
	<resultMap type="SellerInfo" id="sellerInfoResult">
		<result column="BUSINESS_NO" property="businessNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="BUSINESS_NAME" property="businessName"/>
		<result column="SUB_BUSINESS_NAME" property="subBusinessName"/>
		<result column="OPEN_BUSINESS_DATE" property="openBusinessDate"/>
		<result column="STORE_NAME" property="storeName"/>
		<result column="CRN" property="crn"/>
		<result column="MAIN_BUSINESS_NAME" property="mainBusinessName"/>
		<result column="MAIN_ITEM_NAME" property="mainItemName"/>
		<result column="BUSINESS_ADDRESS" property="businessAddress"/>
		<result column="BUSINESS_ACCOUNT" property="businessAccount"/>
		<result column="STATUS" property="status"/>	
	</resultMap>
	
 	<resultMap type="SellerPage" id="sellerPageResult">
		<result column="SELLER_PAGE_NO" property="sellerPageNo"/>
		<result column="BUSINESS_NO" property="businessNo"/>
		<result column="SELLER_EXPLAIN" property="sellerExplain"/>
		<result column="SP_ENROLL_DATE" property="spEnrollDate"/>
		<result column="SP_ORIGIN_NAME" property="spOriginName"/>
		<result column="SP_CHANGE_NAME" property="spChangeName"/>
	</resultMap>

	<resultMap type="ProductCategory" id="productCategoryResult">
		<result column="P_CATEGORY" property="pCategory"/>
		<result column="SELLER_PAGE_NO" property="sellerPageNo"/>
	</resultMap>
	
<!-- 	<resultMap type="Product" id="productResult">
		<result column="P_NO" property="pNo"/>
		<result column="P_CATEGORY" property="pCategory"/>
		<result column="P_OPTION" property="pOption"/>
		<result column="P_TITLE" property="pTitle"/>
		<result column="P_STATUS" property="pStatus"/>
		<result column="P_PRICE" property="pPrice"/>
		<result column="P_CONTENT" property="pContent"/>
		<result column="P_ENROLL_FORM" property="pEnrollForm"/>
		<result column="P_STAR" property="pStar"/>
		<result column="P_SELL_COUNT" property="pSellCount"/>
		<result column="P_ORIGIN_NAME" property="pOriginName"/>
		<result column="P_CHANGE_NAME" property="pChangeName"/>
		
	</resultMap> -->
	
	<select id="selectSeller" resultMap="sellerInfoResult">
		SELECT *
		  FROM SELLER_INFO
		 WHERE USER_NO = #{userNo}
		   AND STATUS = 'Y'
	</select>
	
	<select id="selectBusinessNo" resultType="_int">
		SELECT BUSINESS_NO
		FROM SELLER_INFO
		WHERE USER_NO = #{userNo}
	</select>
	
	<insert id="insertSellerPage">
		INSERT INTO
					SELLER_PAGE (
								 business_no,
								 seller_explain,
								 sp_enroll_Date,
								 sp_origin_name,
								 sp_change_name
								 
								 )
						 VALUES (
						 		 #{businessNo},
								 #{sellerExpalin},
								 default,
								 #{spOriginName},
								 #{spChangeName}
								 							 		 
						 		 )	 
	</insert>
	
	<insert id="insertProductCategory">
		INSERT INTO 
					PRODUCT_CATEGORY (
								 	  p_category,
								 	  seller_page_no
								 	  )
						 	  VALUES (
							 		  #{category}, 
							 		  CURRVAL('seller_page_seller_page_no_seq'::regclass)
						 		 	  )	
	</insert>
	
	<select id="selectSellerHomeDetail" resultMap="sellerPageResult">
		SELECT SELLER_EXPLAIN,
			   SP_ORIGIN_NAME
		  FROM SellerPage
		WHERE BUSINESS_NO = #{businessNo}
	</select>
	
	

</mapper>