@charset "UTF-8";

main{
    font-size: 15px;
    display: flex;
}

#managerSellerNewApplication-info-area{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-left: 1px solid black;
}

#manager-sidebar-category-select-title{
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#search-title{
    width: 100%;
    margin-top: 25px;
    padding-bottom: 5px;
}

#search-form{
    width: 100%;
}

#search-condition-area{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

#search-condition-area table{
    width: 100%;
}

#search-condition-area table tr{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #afa8a8;
}

#search-condition-area table th{
    width: 7%;
    background-color: #eeeeee;
    text-align: left;
    padding-left: 5px;

}

#search-condition-area table td{
    width: 93%;
    text-align: left;
    padding-left: 5px;
}

#search-condition-area table td select{
    border: 1px solid black;
    width: 90px;
    height: 30px;
}

#search-bar{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    margin-left: 5px;
}

.date-search-bar{
    width: 120px;
    height: 30px;
    border: 1px solid black;
    padding: 5px;
}

#search-btn-area{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-btn-area button{
    width: 70px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}

#search-result-list-area{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#total-seller{
    padding: 5px;
    border-bottom: 1px solid black;
}

#search-result-list table {
    width: 100%;
    border-left: 1px solid #afa8a8;
}

#search-result-list table tr{
    height: 40px;
    border-bottom: 1px solid #afa8a8;
    text-align: center;
}

#search-result-list table th{
    background-color: #eeeeee;
    border-right: 1px solid #afa8a8;
}

#search-result-list table td{
    border-right: 1px solid #afa8a8;
}

#search-result-list table td button{
    width: 50px;
    height: 35px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

#select-btn-area{
    margin-top: 5px;
}

#select-btn-area button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

#side-list-selected2{
    background-color: #EEEEEE;
}

#side-list-selected2 a{
    color: #0089FF;
}

.seller-info-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.seller-info-modal-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    background-color: white;
    padding: 20px;
}

.seller-info-modal-content table{
    border: 1px solid black;
}

.seller-info-modal-content table tr{
    border-bottom: 1px solid black;
    height: 40px;
}

.seller-info-modal-content table th{
    border-right: 1px solid black;
    background-color: #EEEEEE;
    width: 20%;
}

.seller-info-modal-content table td{
    padding-left: 10px;
}

.approve-btn-area{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.approve-btn-area button{
    width: 60px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination > li {
    margin-right: 10px;
}

.pagination > li > a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination > li.active > a {
    background-color: #42A2F4; /* 활성화된 버튼의 배경색 */
    color: white;             /* 활성화된 버튼의 글자색 */
    border-radius: 5px;       /* 테두리 둥글게 */
}

.pagination > li > a:hover:not(.active) {
    background-color: #ddd;  /* 활성화되지 않은 버튼에 마우스를 올렸을 때 배경색 */
    border-radius: 5px;      /* 테두리 둥글게 */
}
