body{
    background-color: #E0F1FF;
    position: relative;
}



#community-normal{
    min-height: 100%;
    width: 900px;
    /* height: 1500px; */
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#community-normal #com-head{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
#com-nav{
    height: 45px;
    margin-bottom: 40px;    
    /* justify-content: space-around; */
}
#com-nav>ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}
#com-nav>ul>li{
    width: 225px;   
    height: 45px;
    list-style:none;
}
#com-nav button{
    justify-content: space-around;
    width: 225px;   
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 8px solid #0089FF;
    }
#com-nav button img{
        width: 22.5px;
        height: 22.5px;
        border-radius: 22.5px;
}
#com-nav button:hover, #com-nav #com-nav-selected{
    background-color: #0089FF;
    color: white;
    border: 20px;
}

.com-list{
    width: 900px;
    font-size: 15px;
    text-align: center;
}
#com-list-header th{
    height: 40px;
    background-color: #0089FF;
    color: white;
    font-weight: bold;
}
#com-list-body td{
    height: 30px;
    background-color: white;
    border-bottom: 1px solid #AFA8A8;
}
#com-list-bottom td{
    height: 30px;
    background-color: white;
}
#com-list-body a, #com-list-bottom a{
    color: black;
}
#com-list-body a:hover, #com-list-bottom a:hover, #com-list-selected{
    font-size: 16px;
    font-weight: bold;
}

.com-bottom1{
    width: 900px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    margin-bottom: 100px;   
}
/* .com-bottom1>.com-bottom-left{
    width: 750px;
    margin-top: 5px;
    margin-bottom: 100px;
} */
.com-bottom1 select, .com-bottom1 input, .com-bottom1 button{
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}
.com-bottom1 input{
    border: 0px;
    width: 200px;
    padding: 0;
}
.com-bottom1 #com-search-button{
    border: 0;
    width: 80px;
    background: #0089FF;
    color: white;
}
#com-blue-button, #com-grey-button {
    border: 0;
    width: 150px;
    height: 40px;
    color: white;
    margin-right: 0px;
    border-radius: 10px;
}
#com-blue-button{
    background: #0089FF;
}
#com-grey-button{
    background: #AFA8A8;
}

.com-bottom2{
    width: 900px;
    /* height: 30px; */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 100px;
}