@charset "UTF-8";


header{
    height: 85px; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    
}

/* Header */
#Header{
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#Header #logo p{
    font-size: 25px;
    font-weight: 700;
    color: #0089ff;
} 

#searchBar form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#inputArea{
    width: 500px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 230px;
}

#inputSubmit{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 0;
    background-image: url(../../image/search.png);
    background-repeat : no-repeat;
    right: 10px;
}

#loginArea>form>a, #loginArea>a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 15px;
}


/* 메뉴바 */
header nav{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav > a{
    color: white;
    font-size: 15px;
    text-decoration : none;
}

header nav a:hover{
    color: #0089ff;
    text-decoration-line: none;
}

#loginArea{
    width: 250px;
    margin-right: 25px;
}

#myPageInfo-profile-imgs{
    width: 100%;
    height: 45px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

#profile-img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-left: 40px;
}

#click-menu{
 
    height: 120px;
    position: absolute;
    background-color: white;
    top: 39px;
    right: -15px;
    box-shadow: rgba(63, 71, 77, 0.5) 0px 4px 10px 0px;
    border-radius: 6px;
    border: 1px solid rgb(218, 221, 224);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 900;
}

#click-menu a{
    text-decoration: none;
    color: rgb(47, 52, 56);
    padding: 10px;
    
}

#notification-img{
    margin-top: 7px;
    margin-right: 12px;
}

#notification-div{
    width: 240px;
    height: 120px;
    position: absolute;
    background-color: white;
    top: 39px;
    right: 113px;
    box-shadow: rgba(63, 71, 77, 0.5) 0px 4px 10px 0px;
    border-radius: 6px;
    border: 1px solid rgb(218, 221, 224);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 900;
}

#notification-div a{
    text-decoration: none;
    color: rgb(47, 52, 56);
    padding: 10px;
}

#notifi-bell{
    display: flex;
    align-items: center;
    position: relative;
}

.notification-link.clicked {
    color: gray;
    opacity: 0.6;
  }
  

